
<section class="portfolio" id="portfolio">
        <div class="max-width">
            <h2 class="title">My portfolio</h2>
            
            <div class="portfolio-container container grid">
                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/madrid.png" alt="">
                        <div class="text">Protectora Animal</div>
                        <span class="porfolio-subtitle">APP WEB</span>
                        <p>MySQL | Node |Angular</p>
                        
                        <div class="buttons">
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank" class="portfolio-button">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="https://github.com/DamarisRGT88/App_protectora" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/slot.png" alt="">
                        <div class="text">Slot Machine</div>
                        <span class="porfolio-subtitle">App</span>
                        <p> HTML| CSS | Javascript</p>
                        <div class="buttons">
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank" class="portfolio-button">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="https://github.com/DamarisRGT88/Slot-Machine" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/Pokedex.png" alt="">
                        <div class="text">Pokedex</div>
                        <span class="porfolio-subtitle">Web</span>
                        <p>HTML | CSS | Javascript</p>
                       <div class="buttons">
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank" class="portfolio-button">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="https://github.com/DamarisRGT88/Pokedex" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/portfolioimage2.png" alt="">
                        <div class="text">Portfolio</div>
                        <span class="porfolio-subtitle">Web</span>
                        <p>MySQl | Node | Angular</p>
                       <div class="buttons">
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank" class="portfolio-button">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="https://github.com/DamarisRGT88/PorfolioApp" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/madrid.png" alt="">
                        <div class="text">Someone name</div>
                        <span class="porfolio-subtitle">WEB</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                       <div class="buttons">
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank" class="portfolio-button">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="https://github.com/DamarisRGT88/App_protectora" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
