
<section class="portfolio" id="portfolio">
        <div class="max-width">
            <h2 class="title">My portfolio</h2>
            
            <div class="portfolio-container container grid">
                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/madrid.png" alt="">
                        <div class="text">Protectora Animal</div>
                        <span class="porfolio-subtitle">WEB</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="buttons">
                            <a href="https://app-protectora.netlify.app/inicio" class="portfolio-button">VIEW</a>
                            <a href="#" target="_blank">
                            <img src="/assets/images/github.svg" alt="github" />
                            </a>

                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/madrid.png" alt="">
                        <div class="text">Someone name</div>
                        <span class="porfolio-subtitle">WEb</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="buttons">
                            <a href="#" class="portfolio-button">VIEW </a>
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank">
                            <img src="/assets/images/github.svg" alt="github" />
                            </a>

                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/madrid.png" alt="">
                        <div class="text">Someone name</div>
                        <span class="porfolio-subtitle">WEb</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="buttons">
                            <a href="#" class="portfolio-button">VIEW </a>
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank">
                            <img src="/assets/images/github.svg" alt="github" />
                            </a>

                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/madrid.png" alt="">
                        <div class="text">Someone name</div>
                        <span class="porfolio-subtitle">WEb</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="buttons">
                            <a href="#" class="portfolio-button">VIEW </a>
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank">
                            <img src="/assets/images/github.svg" alt="github" />
                            </a>

                        </div>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <img class=img-project src="/assets/images/madrid.png" alt="">
                        <div class="text">Someone name</div>
                        <span class="porfolio-subtitle">WEB</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="buttons">
                            <a href="#" class="portfolio-button">VIEW </a>
                            <a href="https://app-protectora.netlify.app/inicio" target="_blank">
                            <img src="/assets/images/github.svg" alt="github" />
                            </a>

                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
