/* navbar style */

/* Style del container principla */

.header {
    width: 100%;
    position: sticky;
    background: #fff;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.logo-container {
    display: flex;
    cursor: pointer;

}

.logo-container img {
    width: 150px;

}

/* MENÚ DE NAVEGACIÓN */

.header-nav {
    display: none;
    width: 100%;
    padding: 1rem;
    justify-content: flex-end;
    margin-right: 3rem;
    gap: 2rem;
    text-decoration: none;
}

.header-nav a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
}

.header .active {
    color: var(--dark-green);
}

/* BURGER */

.header__burger {
    width: 4rem;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: auto;
    color: var(--dark-green);
    font-size: 48px;
}

/* MENÚ DE NAV que aparece con la burger */

.show-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--smoke);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease;
    transform: translate(0, -100%);

}

.show-menu a {
    font-size: 50px;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    z-index: 9999;

}

.show-menu a:hover {
    background-color: var(--coral);
    color: var(--dark-green);
    width: 100%;
    text-align: center;
    filter: brightness(90%);
}

.active {
    transform: translate(0, 0);
}

/* Media Query */


@media only screen and (min-width:500px) and (max-width:800px) {}

@media only screen and (min-width:800px) and (max-width:1000px) {
    .header-nav {
        display: flex;
        gap: 1rem;
    }

    .header-nav a {

        font-size: 20px;
        font-weight: 500;
        margin-left: 25px;

    }

    .header__burger {
        display: none;
    }


}



@media only screen and (min-width:930px) {


    .header__burger {
        display: none;
    }

    .header-nav {
        display: flex;

    }


}