
<section class="home" id="home">
    <div class="home-content">
        <div class="text1">Hello, my name is</div>
        <div class="text2">Dámaris</div>
        <div class="text3">And I'm a <span>Fullstack Web Developer</span></div>
        <a href="#" [routerLink]="['/Contact']" >Contact me</a>

    </div>
    <div class="banner">
        <!-- <img src="/assets/images/kisspng-fashion-illustration-drawing-illustrator-illustrat-black-woman-fashion-creative-5a8ab6e8876ce8.5668019515190402325547.png" alt=""> -->
        <video src="/assets/images/Logotipo Logo Marca personal Pastel Amarillo.mp4" autoplay preload></video>
    </div>

</section>

