
<section class="home" id="home">
    <div class="home-content">
        <div class="text1">Hello, my name is</div>
        <div class="text2">Dámaris</div>
        <div class="text3">And I'm a <span>Fullstack Web Developer</span></div>
        <a href="#" class="button" [routerLink]="['/Contact']" >Contact me</a>
        <div class="social">
            <a href="https://github.com/DamarisRGT88/"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/damaris-raboso-garcia/"><i class="fa-brands fa-linkedin"></i></a>
              
        </div>
        
    </div>
  
    <div class="banner">
        <img src="/assets/images/Logotipo_Logo_Marca_personal_Pastel_Amarillo-removebg-preview.png" alt="">
    </div>

</section>

