/* Style container principal */

.home {
    display: flex;
    background-color: var(--light-pink);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    font-size: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.home .home-content {
    margin: 200px 0 100px 40px;

}

/* Textos de presentación */

.home .home-content .text1 {
    font-size: 27px;

}

.home .home-content .text2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}

.home .home-content .text3 {
    font-size: 40px;
    margin: 5px 0;

}

.home .home-content .text3 span {
    color: var(--dark-green);
    font-weight: 500;
}

/* BUTTON */

.home .home-content .button {
    display: inline-block;
    background-color: var(--dark-green);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    border: 2px solid var(--dark-green);
}



.home .home-content a:hover {
    color: var(--dark-green);
    background-color: none;
}

/* Iconos Social */

.home .home-content .social {
    display: flex;
    font-size: 35px;
    gap: 30px;
    margin-left: 4rem;
    margin-top: 2rem;

}

.home .home-content .social a {
    color: var(--yellow);
    transition: all 0.3s ease;

}

.home .home-content .social a:hover {
    color: #fff;
    background-color: none;
}



/* Logo */

.home .banner {
    display: none;
    margin: 100px 0 100px 40px;

}

.banner img {
    width: 100%;

}

/* Media Query */
@media only screen and (min-width:1234px) {
    .home .banner {
        display: block;

    }



}