<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="section-title">Skills</h2>
    <div class="skills-container container grid section__border">
        <!--SKILLS 1 -->
            <div class="skills-content">
                <h3 class="skills-title">
                    <i class='fas fa-code'></i> Frontend Developer
                </h3>
            </div>
            <div class="skills-info">
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/HTML5 .jpg" alt="skills image">
                    </div>
                    <h3 class="skills-name">HTML5</h3>
                    <span class="skills-subtitle">Advanced</span>
                </div>
            

            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/css.jpg" alt="skills image">
                    </div>
                    <h3 class="skills-name">CSS</h3>
                    <span class="skills-subtitle">Advanced</span>
                </div>
            

            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/js.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">Javascript</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            

            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/ts.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">Typescript</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            

            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/bootstrap.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">BOOTSTRAP</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            

            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/sass.jpg" alt="skills image">
                    </div>
                    <h3 class="skills-name">SASS</h3>
                    <span class="skills-subtitle">Basic</span>
                </div>
            

      
            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/angular.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">Angular</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            

            </div>

            <!--SKILLS 2 -->
            <div class="skills-content">
                <h3 class="skills-title">
                    <i class='fas fa-code'></i> Backend Developer
                </h3>
            </div>
            <div class="skills-info">
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/nodejs_logo.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">Node Js</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            
            
                
            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/Csharp_Logo.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">C#</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/NET_Core_Logo.svg.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">.Net</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            
            </div>

            <!--SKILLS 3 -->
            <div class="skills-content">
                <h3 class="skills-title">
                    <i class='fas fa-code'></i> DataBase
                </h3>
            </div>
            <div class="skills-info">
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/mysql.jpg" alt="skills image">
                    </div>
                    <h3 class="skills-name">MySQL</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            

            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/Mongo.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">Mongo DB</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            </div>
            <!--SKILLS 4 -->
            <div class="skills-content">
                <h3 class="skills-title">
                    <i class='fas fa-code'></i> Tools
                </h3>
            </div>
            <div class="skills-info">
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/git.jpg" alt="skills image">
                    </div>
                    <h3 class="skills-name">Git/Github</h3>
                    <span class="skills-subtitle">Advanced</span>
                </div>
            

           
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/Visual-Studio-Logo-500x313.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">Visual Studio</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            

            
            
                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/Visual_Studio_Code_1.35_icon.svg.png" alt="skills image">
                    </div>
                    <h3 class="skills-name">Visual Studio Code</h3>
                    <span class="skills-subtitle">Advanced</span>
                </div>

                <div class="skills-data">
                    <div class="skills-blob">
                        <img src="/assets/images/npm.jpeg	" alt="skills image">
                    </div>
                    <h3 class="skills-name">npm</h3>
                    <span class="skills-subtitle">Intermediate</span>
                </div>
            </div>
       </div>

    </div>
              
</section>

    