section {
    padding: 100px 0;
    min-height: 100vh;

}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.skills {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-pink);

}

.section-title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark-green)
}

.section-title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    background: var(--dark-green);
}





.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 20px;
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #fff;
    background-color: var(--yellow);
}



.skills-title i {
    font-size: 1rem;
    font-weight: initial;
}



.skills-info,
.skills-data,
.skills-blob {
    display: grid;
}

.skills-info {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
    margin-bottom: 5rem;

}

.skills-data {
    justify-content: center;
    text-align: center;
}

.skills-blob {
    width: 80px;
    height: 100px;
    background-color: var(--green);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;

}

.skills-blob img {
    width: 3.5rem;

}

.skills-name {
    color: var(--dark-green);
    margin-bottom: .25rem;
}

.skills-subtitle {
    /* font-size: ; */
    color: var(---black);
    margin-bottom: 1rem;
}

/* Animation skills */
.skills-blob:hover img {
    animation: bounce-skills .6s;
}

@keyframes bounce-skills {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translate(0)
    }

    60% {
        transform: translate(-3px)
    }

    80% {
        transform: translate(0)
    }
}

@media (min-width: 768px) {
    .skills-info {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;

    }
}

@media (min-width: 1500px) {
    .skills-info {
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
        margin-bottom: 8rem;

    }
}