  
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="/assets/images/Imagen_de_WhatsApp_2023-02-13_a_las_10.19.02-removebg-preview.png" alt="">
                </div>
                <div class="column right">
                    <div class="text">I'm Dámaris and I'm a FullStack Web Developer<span class=" tw"></span></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem excepturi eaque, sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga nihil dolorum quae. Explicabo illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae velit inventore exercitationem consequuntur blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas culpa voluptatum repudiandae harum non.</p>
                    <a href="/assets/CV.pdf" class="btn btn-default" target="_blank" download="CV Dámaris.pdf">Download CV</a>
                </div>
            </div>
        </div>
    </section>
