  
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">

                <!-- Imagen Perfil -->

                <div class="column left">
                    <img src="/assets/images/Imagen_de_WhatsApp_2023-02-13_a_las_10.19.02-removebg-preview.png" alt="">
                </div>

                <!-- Descripción del Perfil -->

                <div class="column right">
                    <div class="text">I'm Dámaris and I'm a FullStack Web Developer<span class=" tw"></span></div>
                    <p>¡Hola! Mi nombre es Dámaris. Acabo de iniciar mis andaduras por el mundo de la tecnología. Me he estado formando para ello, y he adquirido conocimientos en algunos lenguajes de programación, tanto Backend como Frontend. Es un mundo complicado, pero me apasiona.<br>
                    Anteriormente, estuve enfocada en el mundo empresarial, por lo que podría aportar un valor añadido a la empresa. <br>
                    Soy una entusiasta de la vida, me gusta aprender cosas nuevas, eso me mantiene motivada. Es por ello, que aunque mi experiencia, de momento es corta, pienso seguir formándome en este mundo. <br>
                    Lejos de esto, para despejarme sobre todo de las pantallas, me gusta practicar algún deporte: Padel, Snowboard, Gym, y ahora he empezado a patinar (todo un reto para mí). Otra cosa que me encanta hacer es bailar. <br>
                    Ahora mismo me encuentro realizando proyectos propios, a los que le pongo mucho empeño mientras espero una oportunidad laboral.<br>
                    ¿Te gustaría conocerme? 
                    </p>

                    <!-- Botón de descarga del CV -->

                    <a href="/assets/CV.pdf" class="btn btn-default" target="_blank" download="CV Dámaris.pdf">Download CV</a>
                    
                </div>
            </div>
        </div>
    </section>
